<!DOCTYPE html>
<html>
<%- include('components/head', {title: "Float"}) %>
<body>
	<div class="wrapper">
		<%- include('components/header') %>
		<%- include('components/side_bar') %>
			
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Float</h4>
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Listes des véhicules</div>
                            </div>
                            <div class="card-body">
                            <!--     <div class="card-sub">
                                    Create responsive tables by wrapping any table with <code class="highlighter-rouge">.table-responsive</code> <code class="highlighter-rouge">DIV</code> to make them scroll horizontally on small devices
                                </div> -->
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nom</th>
                                                <th>Model</th>
                                            </tr>
                                        </thead>
                                        <tbody id="float">
                                            <% data.forEach(item => { %>
                                                <tr>
                                                    <td><%= item.num %></td>
                                                    <td><%= item.name %></td>
                                                    <td><%= item.brand %></td>
                                                </tr>
                                              <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<%- include('components/modal') %>
</body>
<%- include('components/scripts') %>
</html>