<!DOCTYPE html>
<html>
<%- include('components/head', {title: "Page d'acceuil"}) %>
<body>
	<div class="wrapper">
		<%- include('components/header') %>
		<%- include('components/side_bar') %>
			
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Tableau de bord</h4>
						<div class="row">
							<div class="col-md-6">
								<div class="card card-stats card-info">
									<div class="card-body">
										<div class="row">
											<div class="col-3">
												<div class="icon-big text-center">
													<i class="la la-automobile"></i>
												</div>
											</div>
											<div class="col-5 d-flex align-items-center justify-content-center">
												<div class="numbers">
													<a class="nav-link active" href="/float"><p class="card-category">Floats</p></a>
													<h4 class="card-title"><%= nbr%> floats</h4>
												</div>
											</div>
											<div class="col-4">
												<a class="icon-big text-center nav-link active" href="/float">
												<i class="la la-caret-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card card-stats card-primary">
									<div class="card-body">
										<div class="row">
											<div class="col-3">
												<div class="icon-big text-center">
													<i class="la la-folder-open"></i>
												</div>
											</div>
											<div class="col-5 d-flex align-items-center justify-content-center">
												<div class="numbers">
													<p class="card-category">Rapports</p>
													<h4 class="card-title">Juillet 2024</h4>
												</div>
											</div>
											<div class="col-4">
												<a class="icon-big text-center nav-link active" href="/float">
													<i class="la la-caret-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
</div>
				<div class="row d-flex align-items-center justify-content-center">
							<div class="col-md-4">
								<div class="text-primary" role="status">
										<div class="text-dark text-center" role="status" id="loading-message">
											<h1 class="visually-hidden">Loading<i class="icon-big la la-spinner"></i></span>
										  </div>
								  </div>
								<div class="card d-none" id="typesVehicules">
									<div class="card-header">
										<h4 class="card-title">Types des véhicules</h4>
										<p class="card-category">
											Types des véhicules</p>
									</div>
									<div class="card-body" id="typesVehiculesCharts">
										<canvas id="myChart"  class="chart chart-pie"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<%- include('components/modal') %>
</body>
<%- include('components/scripts') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const url = "/chart";
  try {
    fetch(url)
	.then(res => res.json())
	.then(data => {
		document.getElementById('loading-message').classList.add('d-none')
  document.getElementById('typesVehicules').classList.remove('d-none')
  document.getElementById('typesVehiculesCharts').classList.remove('d-none')
const ctx2 = document.getElementById('myChart');
  const model = {
    labels: Object.keys(data),
    datasets: [{
      label: 'Nombre',
      data: Object.values(data),
      borderWidth: 1
    }]
  };
  new Chart(ctx2, {
    type: "pie",
    data: model,
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
	})
  } catch (error) {
    console.error(error.message);
  }

 


</script>
</html>