<!DOCTYPE html>
<html>
<%- include('components/head', {title: "Mon profile"}) %>
<body>
	<div class="wrapper">
		<%- include('components/header') %>
		<%- include('components/side_bar') %>
			
			<div class="main-panel">
                <div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Mon profile</h4>
                        <div class="row d-flex align-items-start justify-content-center">
							
							<div class="col-md-6">
								<div class="card">
									<div class="card-header text-center">
										<img src="" alt="" width="100%" id="profil-img">
										<h4 class="mt-2" id="profil-nom"></h4>
									</div>
									<div class="card-body">
										<div class="d-flex justify-content-between">
                                            <div>
                                                <p id="profil-email"></p>
                                                <p><strong id="profil-role">Utilisateur</strong></p>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary btn-sm" id="btn-edit" onclick="afficherForm()">Editer</button>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
                            <div class="col-md-6 d-none" id="edit">
								<div class="card">
									<div class="card-header text-center">
										<h4 class="mt-2">Modifier mes données</h4>
									</div>
									<div class="card-body">
                                        <form id="edit-photo">
                                            <div class="form-group">
                                                <label for="disableinput">Photo de profile</label>
                                                <input type="file" class="form-control" id="disableinput" placeholder="Photo de profile">
                                                <button class="btn btn-success mt-2">Modifier</button>
                                            </div>
                                        </form>
										<form id="edit-profil">
                                            <div class="form-group">
                                                <label for="disableinput">Adresse email</label>
                                                <input type="text" class="form-control" id="disableinput" placeholder="mbayifoster@gmail.com" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label for="disableinput">Ancien mot de passe</label>
                                                <input type="password" name="lastPassword" class="form-control" id="disableinput" placeholder="Ancien mot de passe">
                                            </div>
                                            <div class="form-group">
                                                <label for="disableinput">Nouveau mot de passe</label>
                                                <input type="password" name="password" class="form-control" id="disableinput" placeholder="Nouveau mot de passe">
                                            </div>
                                            <div class="card-action">
                                                <button class="btn btn-success" type="submit">Modifier</button>
                                                <button type="button" class="btn btn-danger" onclick="retirerForm()">Annuler</button>
                                            </div>
                                            <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center d-none" id="erreur">
                                                <p class="text-warning">Email ou mot de passe incorrect</p>
                                              </div>
                                        </form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<%- include('components/modal') %>
</body>
<%- include('components/scripts') %>
<script src="assets/js/scripts/profile.js"></script>
</html>