<!DOCTYPE html>
<html>
<%- include('components/head', {title: "Rapports"}) %>
<body>
	<div class="wrapper">
		<%- include('components/header') %>
		<%- include('components/side_bar') %>
    <style>
      /* Styles pour l'impression */
      @media print {
        body * {
          visibility: hidden;
        }
        #print-content {
          visibility: visible;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    </style>
			<div class="main-panel">
                <div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Rapports</h4>
                      <form id="formRapport">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des floats</h4>
                               <div class="d-flex justify-content-between flex-wrap">
                            <div class="row d-flex justify-content-center mb-3">
                                <div class="col-6">
                                    <label class="form-check-label">
                                        <span class="form-check-sign">Date du debut</span>
                                        <input type="date" id="start" name="start" class="form-control input-pill" id="pillInput" placeholder="Pill Input" required>
                                    </label>
                                 </div>
                                <div class="col-6">
                                    <label class="form-check-label">
                                        <span class="form-check-sign">Date de fin</span>
                                        <input type="date" id="end" name="end" class="form-control input-pill" id="pillInput" placeholder="Pill Input" required>
                                        
                                    </label>
                                 </div>
                            </div>
                              <div class="row d-flex">
                                  
                                <div class="col-6">
                                    <p class="d-flex justify-content-center">
                                        <button class="btn btn-dark" type="submit">
                                            <i class="icon-big la la-angle-double-down"></i>
                                            Afficher
                                        </button>
                                        </p>
                                </div>
                                <div class="col-6" id="new">
                                  <p class="d-flex justify-content-center ">	
                                    <button class="btn btn-primary" >
                                        <i class="icon-big la la-share"></i>
                                        New
                                    </button>
                                </p>
                              </div>
                              </div>

                               </div>
                                <p class="card-category">Veillez sélectionner les floats pour avoir le rapport</p>
                                <div class="text-dark text-center d-none" role="status" id="loading-message">
                                  <h1 class="visually-hidden">Loading<i class="icon-big la la-spinner"></i></span>
                                </div>
                              </div>
                            <div class="mx-2 my-4 card-body row d-flex justify-content-start">
                                <ol class="flex-wrap d-flex" id="select-float">
                                 <li class="list-group-item m-2">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"  id="selectAll">
                                        <span class="form-check-sign">Tous selectionner</span>
                                    </label>
                                </li>
                                    <% data.forEach((item, i)=>{%>
                                    <li class="list-group-item m-2">
                                        <label class="form-check-label">
                                            <input class="form-check-input option" id="<%= item.name %>" name="<%= item.id %>" type="checkbox" value="<%= item.name %>&<%= item.brand %>">
                                            <span class="form-check-sign"><%= i+1 %>. <%= item.name %></span>
                                        </label>
                                    </li>
                                        <% }) ; %>
                                </ol>
                             </div>
                        </div>
                      </form>
                      <div class="table-responsive d-none" id="body-float">
                      <div class="card" id="print-content">
                        <div class="card-header text-center">
                          <h4 class="card-title">Rapports de Kilométrage</h4>
                         <div class="d-flex justify-content-between flex-wrap">
                          <div class="col-6">
                            <label class="form-check-label">
                                <span class="form-check-sign" id="start-text">Date du debut</span>
                                <span class="form-check-sign" id="end-text">Date de fin</span>
                            </label>
                         </div>
                        <div class="col-6">
                            <label class="form-check-label">
                                <span class="form-check-sign" id="date-actuelle"></span>
                            </label>
                         </div>
                         </div>
                    </div>
                        <div class="card-body">
                          <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Model</th>
                                    <th>Kilométrage</th>
                                </tr>
                            </thead>
                            <tbody id="float">
                            </tbody>
                        </table>
                       
                        </div>
                      </div>
                      <div class="conatainer py-3">
                        <p class="d-flex justify-content-center ">
                            <button class="btn btn-primary" onclick="document.title = newTitle;toPdf()">
                                <i class="icon-big la la-file-pdf-o"></i> 
                                Génerer le pdf
                            </button>
                        </p>
                    </div>
                    </div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<%- include('components/modal') %>
</body>

<%- include('components/scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>
<script id="entry-template" type="text/x-handlebars-template">
     
        {{#each data}}
    <tr>
      <td>{{this.index }}</td>
      <td>{{ this.name }}</td>
      <td>{{ this.model }}</td>
      <td>{{ this.kilometre }} km</td>
    </tr>
  {{~/each}}
      
    </script>
    
    <script src="assets/js/scripts/script_rapport.js"></script>
</html>